* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

                      /*ここからヘッダー*/
.header{
  width:100%;
  height:50px;
  background-color:#FF9A4B;
}

                      /*ここからメイン*/
.main{
  width:960px;
  margin: 50px auto;
  display:flex;
}

.main-box{
  width:300px;
  background-color:#EEEEEE;
  padding:10px 10px 0 10px;
  margin-right:30px;
  position:relative;
}

.main-box:last-child{
  margin-right:0;
}

.main-step{
  width:45px;
  height:30px;
  background-color:#FF9A4B;
  position:absolute;
  top:0;
  left:0;
}

.main-step p { 
  color:#FFF;
}

.img1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  width:100%;
  height:150px;
}

.img2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  width:100%;
  height:150px;
}

.img3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  width:100%;
  height:150px;
}

.main-title{
  width:100%;
  padding-top:10px;
}

.main-text{
  width:100%;
  padding-top:5px;
}

                      /*ここからフッター*/
.footer{
  width:100%;
  height:50px;
  background-color:#AAAAAA;
}

                      /*ここからレスポンシブ対応（課題）*/
@media screen and (max-width:768px){
  .main{
    width:100%;
    display:block;
    justify-content:center;  
  }
  .main-box{
    width:90%;
    margin-right:5%;
    margin-left:5%;
    margin-bottom:20px;
  }
  
  .main-box:last-child{
    margin-bottom:0;
  }
}
